@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
}
button {
    cursor: pointer;
}

nav.side-nav {
    position: fixed;
    left: 13px;
    width: 24px;
    top:0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}
nav.side-nav a{
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
    width: 10px;
    display: flex;
    justify-content: center;
}
nav.side-nav a div {
    border: white solid 1px;
    background-color: white;
    width: 3px;
    height: 24px;
}
nav.side-nav a:hover::after {
    content: attr(data-name);
    position: absolute;
    white-space: nowrap;
    left: 15px;
    color: #fff;
    
}


header{
    position: sticky;
    top: 0;
    padding: 16px;
}
section header{
    display: flex;
    justify-content: space-between;
    top: 50px;
}
.announcment {
    color: #191919;
    background: #FFFFFF;
    text-align: center;
    z-index: 5;
}
.announcment a{
    color: #191919;
}

main>section{
    height: 100vh;
}
section#first-page {
    background:url('./imgs/Model-3-Main-Hero.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header nav {
    font-weight: bold;
    display: inline-block;
}
header nav#main-nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;  
}
header img {
    height: 24px;
    width: 120px;
    margin-left: 32px;
    padding-top: 0px;
}

header nav#secondary-nav{
    position: absolute;
    text-align: end;
    right: 3vw;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
header nav a {
    color: white;
    text-decoration: none;
    padding: 0 16px;
}
#first-page h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}
#first-page>a{
    color: white;
    display: block;
    text-align: center;
    padding-top: 6px;
}
#first-page .first-page-footer {
    position: absolute;
    color: #FFFFFF;
    width: 764px;
    height: 54px;
    bottom: 26px;
    margin: auto;
    left: 0;
    right: 0;
}
#first-page .first-page-footer>div {
    display: inline-block;
    width: 24%;
}
#first-page .first-page-footer div.upper-part {
    font-size: 28px;
    text-align: center;
}
#first-page .first-page-footer div.second-part {
    font-size: 12px;
    text-align: center;
}
#first-page .see-more {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
}
.primary-button {
    padding: 4px 48px;
    background-color: transparent;
    height: 40px;
    width: 204px;
    position: absolute;
    top: 0;
    border: white 3px solid;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.primary-button:hover {
    color: black;
    background-color: white;
}
.chat {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: fixed;
    right: 50px;
    bottom: 100px;
    border: none;
    box-shadow: 0 0 5px #191919;
    z-index: 4;
}
.chat img {
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
#second-page{
    background-image: url('./imgs/model-3-hero-a.jpg');
    background-size: 80vw ;
    background-position: 0 center;
    background-repeat: no-repeat;
    position: relative;
}
#second-page .content {
    width: 336px;
    position: absolute;
    right: 0;
    padding: 32px 40px;
    margin: 20px;
    color: #191919;
}
#second-page .content h2 {
    font-size: 19px;
    padding-top: 16px;
}
#second-page .content h3 {
    font-size: 30px;
    padding-top: 4px;
    padding-bottom: 24px;
}
#second-page .content p {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 24px;
}
#second-page .content h4 {
    font-size: 16px;
}
#second-page .content p a{
    color: #191919;
}
button.round {
    border-radius: 50%;
    background-color: white; 
}
button.round:hover{
    background-color: black;  

}
#second-page .second-page-footer {
    position: absolute;
    color: #FFFFFF;
    bottom: 26px;
    right: 26px;
}
#second-page button.primary {
    padding: 4px 48px;
    background-color: transparent;
    height: 40px;
    width: 204px;
    border: black 3px solid;
    border-radius: 3px;
    color: black;
}
#second-page button.primary:hover  {
    background: #000;
    color: #FFFFFF;
}
#second-page .second-page-footer>* {
    display: inline-block;
    margin: 10px;
}
#second-page .second-page-footer a {
    text-decoration: none;
    color: #191919;
}
#third-page>section:nth-of-type(1){
    height: 75%;
    background-image: url('./imgs/Model-3-Performance.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#third-page>section:nth-of-type(1)>div{
    text-align: center;
    width: 20%;
    padding: 1rem;
    margin-top: 30rem;
    color: #FFFFFF;
}
.upper-part{
    font-size: 28px;
}
.second-part{
    font-size: 12px;
}
#third-page>section:nth-of-type(2){
    height: 25%;
    background-color: #fff;
    display: flex;
    padding: 50px 200px 40px 200px;
}
#third-page>section:nth-of-type(2)>section{
    width: 430px;
    flex-shrink: 0;
}
#third-page>section:nth-of-type(2)>p{
    padding-left: 15px;
    padding-top: 4px;
    color: #54575B;
}
#third-page a{
    color: #54575B;
}
#third-page h2{
    font-size: 19px;
    padding-bottom: 4px;
    font-weight: 100;
}
#third-page h3{
    font-size: 30px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
}
.actions>*{
    margin: 0 0.5rem;
}
.actions a{
    text-decoration: none;
}

#third-page button.primary {
    padding: 4px 48px;
    background-color: transparent;
    height: 40px;
    width: 204px;
    border: black 3px solid;
    border-radius: 3px;
    color: black;
}
#third-page button.primary:hover  {
    background: #000;
    color: #FFFFFF;
}

